.app {
    display: grid;
    place-items: center;
    height: 100vh;
    /* background-color: #1b1b1b; */
}

.app_body{
    /* background-color: #0f0f10; */
    display: flex;
    margin-top: -50px;
    height: 90vh;
    width: 90vw;
    box-shadow: -1px 4px 20px -6px rgba(0, 2, 0, 0.75);
}



