.Chat{
    display: flex;
    flex-direction: column;
    flex: 0.65;
    position: relative;

}

.chat_header{
    display: flex;
    padding: 0px;
    /* justify-content: space-between; */
    /* border-right: 1px solid rgb(230, 218, 218); */
    align-items: center;
    border-bottom: 1px solid rgb(230, 218, 218) ;
    margin-top: -5px;
    margin-bottom: -10px;

}

/* .chat_header > .MuiSvgIcon-root{
    margin-top: 50px;
} */
.chat_headerInfo{
    flex: 1;

}
h3{
    margin-bottom: -15px;
    margin-top: 15px;

}
p{
    margin-bottom: 15px;

}

.chat_search{
    display: flex;
    align-items: center;
    background-color: #e7e2e2;
    height: 35px;
    padding: 10px;
    bottom: 0px;
    width: 97%;
    position: absolute;
    max-width: 100%;
}

.chat_searchContainer{
    display: flex;
    align-items: center;
    background-color: white;
    height: 20px;
    width: 100%;
    padding: 10px;
    border-radius: 25px;
}

.chat_searchContainer > input{
    margin-left: 10px;
    border: none;
    width: 100%;
    outline-width: 0;
}

.chat_body{
    flex: 1;
    background-image: url("https://storage.googleapis.com/gweb-uniblog-publish-prod/images/Background.max-2800x2800.jpg");
    background-repeat: repeat;
    background-position: center;
    background-size: contain;
    padding: 30px;
    overflow: scroll;
}

.chat_text{
    position: relative;
    font-size: 13px;
    padding-top: 28px;
    padding-bottom: 10px;
    padding-left: 5px;
    padding-right: 5px;
    width: fit-content;
    border-radius: 10px;
    background-color: rgb(120, 190, 231);
    margin-bottom: 30px;
}

.chat_name{
    position: absolute;
    font-weight: 800;
    font-size: 13px;
    top: 8px;
}

.chat_timestamp{
    margin-left: 20px;
    font-size: xx-small;
}

.chat_receiver{
    margin-left: auto;
    background-color: #ec6cdb;
}

.chat_search > .chat_searchContainer > button{
    display: none;
}