.sidebar{
    display: flex;
    flex-direction: column;
    flex: 0.35;
}

.sidebar__header{
    display: flex;
    padding: 20px;
    justify-content: space-between;
    border-right: 1px solid rgb(230, 218, 218);
}

.sidebar__headerRight{
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-width: 10vw;
}

.sidebar__headerRight > .MulSvgIcon-root{
    margin-right: 2vw;
    font-size: 24px i !important ;
}

.sidebar__search{
    display: flex;
    align-items: center;
    background-color: #f6f6f6;
    height: 39px;
    padding: 10px;
}

.sidebar__searchContainer{
    display: flex;
    align-items: center;
    background-color: white;
    height: 30px;
    width: 100%;
    padding: 10px;
    border-radius: 25px;
}

.sidebar__searchContainer > .MulSvgIcon-root{
    border-radius: 3px;
    color: white;
    padding: 10px;
}

.sidebar__searchContainer > input{
    /* border-radius: 20px; */
    margin-left: 10px;
    border: none;
    /* width: 100%; */
    outline-width: 0;
}

/* .sidebar__chat{
    display: grid;
    padding: 20px;
    border-bottom: #f6f6f6;
} */